.heroImg {
  /* width: 90%; */
}
.heroImg img {
  width: 100%;

  /* height: 90vh !important; */
  height: auto;
  border-radius: 20px;
}

.sliderIcons {
  width: 30px;
}

@media only screen and (max-width: 960px) {
  .heroText {
    font-size: 11px;
  }
  .heroText h1 {
    margin-top: 300px !important;
  }
  .heroText h3 {
    /* position: absolute; */
    margin-top: 350px !important;
    /* margin-left: 30px; */
  }
}
@media only screen and (max-width: 815px) {
  /* .heroImg img {
    height: 500px !important;

    width: auto;
    padding-right: 70px;
  } */
  .heroText {
    font-size: 11px;
    margin-top: 70px;
  }
  .heroText h1 {
    margin-top: 220px !important;
  }
  .heroText h3 {
    /* position: absolute; */
    margin-top: 270px !important;
    /* margin-left: 30px; */
  }
}
@media only screen and (max-width: 640px) {
  .heroText {
    font-size: 10px;
    margin-top: 70px;
  }
  .heroText h1 {
    margin-top: 130px !important;
  }
  .heroText h3 {
    margin-top: 160px !important;
  }
}
.heroCarousel {
  width: 85%;
  margin-top: 50px;
}
.heroDiv {
  align-items: center;
  display: flex;
  justify-content: center;
}
.heroText {
  color: #fff;
}
.heroText h1 {
  position: absolute;
  margin-top: 370px;
  margin-left: 30px;
}
.heroText h3 {
  position: absolute;
  margin-top: 420px;
  margin-left: 30px;
}
