.commentDiv {
  width: 80%;
  text-align: center;
  background-color: rgb(255, 255, 255);
  margin: 50px auto;
}
/* .cotainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
} */
.commentItem {
  display: flex;
  flex-direction: column;
  margin: 15px 5px;
  border-radius: 30px !important;

}
.container {
  text-align: center;
}
