.button { 
position: relative;
background-color: red;
border: none;
font-size: 26px;
color: white;
padding: 7px;
width: 300px;
text-align: center;
text-decoration: none;
overflow: hidden;
cursor: pointer;
height: 50px;
margin-top: 30px;
}